<h5 class="station-name">{{station.name}}</h5>
<p class="station-zone">{{station.zone}}</p>
<p class="station-description">{{station.description}}</p>
<p class="station-location">{{station.longitude}} {{station.latitude}}</p>
{{yield}}
