<h3><span class="from">{{ trip.stationFrom.name }}</span> > <span class="to">{{ trip.stationTo.name }}</span></h3>
{{#each train in trip.trains}}
  <div>{{train.line}}</div>
  <div>{{train.departureTime}}</div>
  <div>{{train.arrivalTime}}</div>
  <div>{{train.delay}}</div>
{{/each}}

{{yield}}
